.App {
  font-family: sans-serif;
  text-align: center;
}

#username-list {
  text-align: left;
}

#lastname {
  margin: 5px;
}

#firstname {
  margin: 5px;
}

#lastname {
  margin: 5px;
}

#button {
  margin: 5px;
}
